{% extends 'blog_app/base.html' %}

    {% block contents %}

        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container w3-padding-large">
                <h3><b>新規記事作成</b></h3>
	    </div>

            <div class="w3-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}

                    <p class="w3-col s12 w3-margin-bottom">
                        {{ form.title.label_tag }}<br>
                        {{ form.title }}
                    </p>
                    <p>
                        {{ form.text.label_tag }}<br>
                        {{ form.text }}
                    </p>
                    <p>
                        {{ form.image.label_tag }}<br>
                        {{ form.image }}
                    </p>
                    <p>
                        {{ form.tags.label_tag }}<br>
                        {{ form.tags }}
                    </p>
                    <p><button type="submit">投稿</button></p>
                </form>
            </div>
        </div>

    {% endblock %}
